{% extends 'base.html' %}
{% load rest_framework %}
{% block content %}
<div class="container">
    <h1 class="lead">Change Password</h1>
    {% if error %}
    <div class="alert alert-danger">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>{{ error }}</p>
    </div>
    {% endif %}
    <div class="alert alert-danger" hidden="hidden" id="div_error">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p id="error"></p>
    </div>
    <form action="{% url 'change_password' %}" method="post" onsubmit="return validateForm();">
        {% render_form serializer template_pack='rest_framework/vertical' %}
        {% csrf_token %}
        <input type="submit" class="btn btn-default" value="Change Password">
    </form>
</div>
<script type = "text/javascript">
    function validateForm(){
        div = document.getElementById('div_error');
        p = document.getElementById('error');        
        var current_password = document.getElementsByName("current_password")[0].value;
        var new_password = document.getElementsByName("new_password")[0].value;
        var confirm_password = document.getElementsByName("confirm_password")[0].value;
        error = "";
        if ( current_password == "" || new_password == "" || confirm_password == "")
            error = "All fields are required";
        if (error == ''){
            if (new_password != confirm_password )
                error = "Password does not match";
        }
        if(error != ''){
            p.innerHTML = error
            div.removeAttribute("hidden");
            return false;
        }
        return true;
    }    
</script>
{% endblock %}